.dropdown-menu {
  background-color: #333 !important;
}

.responsive-text {
  font-size: 0.8rem !important;
}
@media (min-width: 544px) {
  .responsive-text {
    font-size: 1rem !important ;
  }
}
@media (min-width: 992px) {
  .responsive-text {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 950px) {
  .responsive-text {
    font-size: 1.5rem;
  }
}

button:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
